@import "tailwindcss";

@keyframes gradient-x {

    0%,
    100% {
        background-size: 200% 200%;
        background-position: left center;
    }

    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
}

@layer utilities {
    .animate-gradient-x {
        animation: gradient-x 15s ease infinite;
    }

    .animate-spin-slow {
        animation: spin 8s linear infinite;
    }
}